.title {
  font-size: 4rem;
}

.content {
  min-width: 40%;
  max-width: 700px;
}

.work {
  background: lighten($purple, 40%);
  margin-top: 2rem;
  padding: 1rem 2rem;
  max-width: 900px;
  border-radius: 4px;
  box-shadow: 0 0 10px darken($purple, 15%);
  @include mobile($breakpoint-sm) {
    padding: 1rem;
  }
  &__title {
    color: darken($purple, 50%);
  }
  &__link {
    color: $purple;
  }
  &__content {
    color: darken($white, 60%);
    position: relative;
    min-width: 50%;
    max-width: 500px;
  }
  &__img {
    cursor: pointer;
    width: 100%;
    position: absolute;
    left: 550px;
    top: 50px;
    box-shadow: 0 0 25px rgba(darken($purple, 50%), 0.5);
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.2);
      transition: transform 0.5s ease-in-out;
    }
  }
}
