// ---------------------------------------
// Colors
// ---------------------------------------

$purple: #6f73d2;
// $black: #00a6fb;
// $black: #52489c;
$white: #f7f7f7;

// ---------------------------------------
// Typography
// ---------------------------------------
$base-font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue",
  sans-serif;

// ---------------------------------------
// Borders
// ---------------------------------------
$border-radius: 4px;

// ---------------------------------------
// Breakpoints
// ---------------------------------------
$breakpoint-sm: 600px;
